@media only screen and (max-width: 1050px) {
    .header nav {
        float: none;
        margin-right: 0;
        text-align: center;
    }

    .header nav ul {
        margin-top: 15px;
    }

    .header nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

    .content .content-element {
        padding: 20px;
        height: auto;
        min-height: 265px;
    }

    .benefits {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }

    .hero {
        height: 500px;
    }

    .float-left {
        float: none;
        margin-right: 0;
    }

    .float-right {
        float: none;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        height: 400px;
    }

    .content .content-element {
        padding: 10px;
        height: auto;
    }

    .benefits {
        padding: 10px;
    }
}